.footer {
  text-align: center;
  margin-top: 4em;
  padding: 3em 0;
}

.footer__link {
  color: var(--clr-fg);
  font-weight: 600;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}
